// assets/styles/sass/_cv.scss
@use "variables" as v; 

html {
  box-sizing: border-box;
} 

  body {
    background-color: v.$light-bg;
  
    #home, #skills, #home_ita,#skills_ita {
      scroll-margin-top: 2rem;
    }

    #skills, #skills_ita {
      ul {
        padding-left: 0;
      }
    }

    .work{
      ul {
      padding-left: 1rem;
      }
  }
    h2 {
      color: v.$primary-color;
    }

    h3 {
      font-size: 1.3rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
