/*cv variables*/
$cv_background_color: white;
$cv_font_primary_color: black;
$cv_font_header_color: #4272A8;


/*main variables*/

// FONTS
$title_font: 'Tangerine', cursive;
$link_font: 'JetBrains Mono', monospace;
$body_font: 'EB Garamond', serif; 

//COLORS
$paper_color: #fdfaf0;
$desk_color: #4c2b20;
$stamp_color: #ffe101;
$memo_color: #ffe101;
$link_color: #0047AB;
$button_color: #0047AB;
$leather_color: #261a15; // Even darker than the desk
$gold_ink_color: #c5a059; // Muted brass/gold for luxury feel
$body_color: #1a1614;
$border_color: #2d2d2d;
$job_title_color: #555;
$paper_border_color: #2a1812;
$citation_color: #666;

//Z-INDEXES
$raised_page_z_index: 2;
$memo_z_index: 2000;
$header_z_index: 1000;
$link_z_index: 3000;
$stamp_z_index: 3000;
$lamp_z_index: 4000;

// MEDIA QUERY SIZE
$desktop_min_width: 992px;
