@use 'namespaces/variables';

/*import latin modern font*/
@import url('https://cdn.jsdelivr.net/npm/@fontsource/latin-modern-roman@5.0.0/index.css');

html {
  box-sizing: content-box;

  body {
    font-family: "Latin Modern Sans", sans-serif;
    background-color: variables.$light-bg;

    h2 {
      color: variables.$primary-color;
    }
  }
}
