@use 'namespaces/variables';

@import "../../../node_modules/bootstrap/scss/functions";
@import "namespaces/bootstrap_override";                     // my custom remapped colors
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";          // CSS reset
@import "../../../node_modules/bootstrap/scss/type";            // Typography (h1-h6, lead, display-*, small, etc)
@import "../../../node_modules/bootstrap/scss/containers";      // .container
@import "../../../node_modules/bootstrap/scss/grid";            // .row, .col-*, .g-* (gap classes)
@import "../../../node_modules/bootstrap/scss/buttons";         // .btn, .btn-primary, .btn-outline-*, .btn-lg
@import "../../../node_modules/bootstrap/scss/forms";           // .form-control, .form-label
@import "../../../node_modules/bootstrap/scss/card";            // .card, .card-body, .card-title, .card-text
@import "../../../node_modules/bootstrap/scss/badge";           // .badge
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/utilities/api";   // Utility classes (d-flex, py-5, mb-3, text-*, bg-*, etc)

/*import latin modern font*/
@import url('https://cdn.jsdelivr.net/npm/@fontsource/latin-modern-roman@5.0.0/index.css');

html {
  box-sizing: content-box;

  body {
    font-family: "Latin Modern Sans", sans-serif;
    background-color: $light;
    
    #home, #skills, #home_ita, #skills_ita {
      
      scroll-margin-top: 2rem;
    } 
    ul {
      padding: 0;
    }
    h2 {
      color: $primary;
    }
  }
}
