@use "variables";

.about-section {
    .title-separator {
        width: 60px;
        height: 3px;
        background-color: variables.$primary-color;
    }

    .skill-card {
        padding: 1.5rem;
        background-color: variables.$white;
        border-radius: 0.5rem;
        text-align: center;
        height: 100%;
        border-top: 3px solid variables.$primary-color;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); 
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }
}
