@import "bootstrap_override";                     // my custom remapped colors

html {
  box-sizing: content-box;

  body {
    background-color: $light;
    
    #home, #skills, #home_ita, #skills_ita {
      
      scroll-margin-top: 2rem;
    } 
    ul {
      padding: 0;
    }
    h2 {
      color: $primary;
    }
  }
}
