@use "variables";

.form-control {
    padding: 0.8rem;
    &:focus {
        box-shadow: none;
        background-color: variables.$white; 
        border: 1px solid variables.$primary-color;
    }
}
