@use "variables";
.lang_pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  // Style
  background-color: variables.$primary-color; 
  color: variables.$white !important;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 700;
  
  // Shape
  height: 28px;
  width: 35px; // Fixed width keeps them uniform
  border-radius: 50px;
  
  transition: opacity 0.2s ease;

  // Visual distinction for the inactive one
  &:not(.active) {
    opacity: 0.5; 
    &:hover {
      opacity: 1;
    }
  }
}
