// Mixins fo Responsive
@mixin tablet { @media (min-width: 768px) { @content; } }
@mixin desktop { @media (min-width: 992px) { @content; } }
@mixin mobile-only { @media (max-width: 991px) { @content; } }
