@use "mixins";
@use "variables";

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
.custom-nav {
  top: 0;
  z-index: 1050;
  background-color: variables.$white; 
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 0.5rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
        display: none; // hidden by default on mobile 
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);

        // media query for desktop
        @include mixins.desktop {
            display: flex; // always shown on desktop
            position: static;
            flex-direction: row;
            width: auto;
            box-shadow: none;
            padding: 0;
            align-items: center;
        }

        li {
            padding: 10px 0;
            @include mixins.desktop { padding: 0 15px; }
            
            a {
                text-decoration: none;
                color: variables.$secondary-color;
                font-weight: bold;
                transition: 0.3s;
                &:hover { color: variables.$primary-color; }
            }
        }
    }
  }
    
    // this is just for maintainability; if I want, I can change this instead of changing all the bootstrap classes in the html
    @include mixins.mobile-only {
     #menu-toggle:checked ~ .nav-menu {
          display: flex; // show menu when checkbox is selected 
      }
    }

    // Hamburger Custom
    .menu-button-container {
        cursor: pointer;
        padding: 10px;
        .hamburger {
            width: 25px;
            height: 3px;
            background: variables.$primary-color;
            position: relative;
            &::before, &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 3px;
                background: variables.$primary-color;
            }
            &::before { top: -8px; }
            &::after { bottom: -8px; }
        }
    }
}

