@use "variables";

.project-card {
    transition: variables.$transition-base;
    border: 1px solid rgba(0,0,0,0.05);
    
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    }
    
    .badge {
        font-weight: 400;
        padding: 0.5em 1em;
    }

    .skill-icon {
      width: 3rem;
      height: 3rem;
      color: variables.$primary-color;
      margin-bottom: 1rem;
    }
}
